@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
@*     <h1 class="display-4">Welcome to ProjectSuperhero</h1> *@
    <p>Learn more information about <a href="/Comics">comics</a>.</p>
</div>
