@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
@*     <p>Learn more information about <a href="/Comics">comics</a>.</p>
 *@    <br />
    <span>In development:</span><br /><br />
    <a href="/Latest">Latest</a>
</div>
